<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChartAndDate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2946962C1DEEA76D005F55B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>294696401DEEA76D005F55B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2946964B1DEEA76D005F55B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
